In [45]:
import json
import pandas as pd
import numpy as np

In [58]:
with open('output/data.json') as f:
    data = json.load(f)
df = pd.DataFrame(data)
df.to_csv('output/data_.csv')

In [59]:
pd.read_csv('output/data.csv')

    Unnamed: 0                                                  0
0        Title                                            Titanic
1         Year                                               1997
2        Rated                                              PG-13
3     Released                                        19 Dec 1997
4      Runtime                                            194 min
5        Genre                                     Drama, Romance
6     Director                                      James Cameron
7       Writer                                      James Cameron
8       Actors        Leonardo DiCaprio, Kate Winslet, Billy Zane
9         Plot  A seventeen-year-old aristocrat falls in love ...
10    Language                  English, Swedish, Italian, French
11     Country                              United States, Mexico
12      Awards     Won 11 Oscars. 125 wins & 83 nominations total
13      Poster  https://m.media-amazon.com/images/M/MV5BMDdmZG...
14   Metascore                                                 75
15  imdbRating                                                7.8
16   imdbVotes                                          1,117,107
17      imdbID                                          tt0120338
18        Type                                              movie
19         DVD                                        08 Jan 2002
20   BoxOffice                                       $659,363,944
21  Production                                                NaN
22     Website                                                NaN
23    avg_rate                                               0.81